<h2 id="projects-device-component">Device Directive</h2>

<p>
AngularJS directive (aka Web Component, Widget, Card) defines the new HTML
<code>&lt;device&gt;</code> tag. It can be used to control and monitor any
device connected to Lelylan and to to create third party web apps in a matter of
minutes.
</p>

<div class="alert alert-info">
  <p>
  <span class="label label-lelylan">notice</span>
  Check out the <a href="/developers#devices-api">Devices API</a> to better understand what a device is.
  </p>
</div>

<a href="https://github.com/lelylan/device-component-ng">
<%= image_tag('projects/device-component.png') %>
</a>

<div>
  <a href="https://github.com/lelylan/device-directive-ng" class="btn-lelylan"><span class="glyphicon glyphicon-download"></span> Github</a>
</div>

<hr>

<h2 id="projects-lelylan-dashboard">Lelylan Dashboard</h2>

<p>
A Dashboard created with AngularJS to create, control and monitor all your devices.
It uses the device component and gives you realtime notifications when one of your
devices changes its status.
</p>

<a href="https://github.com/lelylan/devices-dashboard-ng">
  <%= image_tag('projects/lelylan-dashboard.png') %>
</a>

<div>
  <a href="https://github.com/lelylan/devices-dashboard-ng" class="btn-lelylan"><span class="glyphicon glyphicon-download"></span> Github</a>
</div>

<hr>

<h2 id="projects-type-component">Type Directive</h2>

<p>
AngularJS directive (aka Web Components, Widget, Card) defines the new HTML
<code>&lt;lelylan-type&gt;</code> tag. It can be used to create and see the
device type structures.
</p>

<div class="alert alert-info">
  <p>
  <span class="label label-lelylan">notice</span>
  Check out the <a href="/types">Types API</a> to better understand what a type is.
  </p>
</div>

<a href="https://github.com/lelylan/type-component-ng">
<%= image_tag('projects/type-component.png') %>
</a>

<div>
  <a href="https://github.com/lelylan/type-directive-ng" class="btn-lelylan"><span class="glyphicon glyphicon-download"></span> Github</a>
</div>

<hr>

<h2 id="projects-lelylan-types">Lelylan Types</h2>

<p>
A Dashboard created with AngularJS to create and discuss any device types structure.
</p>

<a href="https://github.com/lelylan/types-dashboard-ng">
<%= image_tag('projects/lelylan-types.png') %>
</a>

<div>
  <a href="https://github.com/lelylan/types-dashboard-ng" class="btn-lelylan"><span class="glyphicon glyphicon-download"></span> Github</a>
</div>

<hr>

<h2 id="projects-feedback"><span class="glyphicon glyphicon-comment"></span> Feedback</h2>

<%= render 'shared/feedback' %>
