<h2><%= link_to 'Getting started', static_path('start') %></h2>
<ul>
  <li><%= link_to 'Introduction', static_path('start/introduction') %></li>
  <li><%= link_to 'Connecting the Physical World', static_path('start/physical') %></li>
  <li><%= link_to 'Building Apps', static_path('start/app') %></li>
  <li><%= link_to 'Articles', static_path('start/tutorials') %> <span class="label">todo</span></li>
</ul>

<h2><%= link_to 'API', static_path('api') %></h2>
<ul>
  <li><%= link_to 'Core concepts', static_path('api/core') %></li>
  <li><%= link_to 'Devices', static_path('api/devices') %></li>
  <li class="little">&raquo; <%= link_to 'Activations', static_path('api/devices/activations') %></li>
  <li class="little">&raquo; <%= link_to 'Histories', static_path('api/devices/histories') %></li>
  <li><%= link_to 'Types', static_path('api/types') %></li>
  <li class="little">&raquo; <%= link_to 'Properties', static_path('api/types/properties') %></li>
  <li class="little">&raquo; <%= link_to 'Functions', static_path('api/types/functions') %></li>
  <li class="little">&raquo; <%= link_to 'Statuses', static_path('api/types/statuses') %></li>
  <li><%= link_to 'Locations', static_path('api/locations') %></li>
  <li><%= link_to 'Physical devices', static_path('api/physicals') %></li>
  <li><%= link_to 'Oauth 2', static_path('api/oauth') %></li>
  <li><%= link_to 'Realtime', static_path('api/realtime') %></li>
</ul>

<h2><%= link_to 'Community', static_path('community') %></h2>
<ul>
  <li><%= link_to 'Client libraries', static_path('community/clients') %></li>
  <li><%= link_to 'Support', static_path('community/support') %></li>
  <li><%= link_to 'FAQ', static_path('community/faq') %></li>
  <!--<li><a href="https://lelylan.uservoice.com">Your feedback</a></li>-->
</ul>

<!--<div id="search">-->
  <!--<form accept-charset="UTF-8" action="/docs/search" method="get">-->
    <!--<div style="margin:0;padding:0;display:inline">-->
    <!--</div>-->
    <!--<input type="search" name="query" value="" placeholder="Search..." results="0" />-->
  <!--</form>-->
<!--</div>-->
