<h2><%= Settings.titles['api'] %></h2>

<article>
<div><h3><%= link_to 'Core concepts', static_path('api/core') %></h3> <span>Shared ideas</span></div>
<div><h3><%= link_to 'Devices', static_path('api/devices') %></h3> <span>Devices you interact with</span></div>
<div><h3><%= link_to 'Physical devices', static_path('api/physicals') %></h3> <span>Connect the physical world</span></div>
<div><h3><%= link_to 'Types', static_path('api/types') %></h3> <span>Identify your device structure</span></div>
<div><h3><%= link_to 'Locations', static_path('api/locations') %></h3> <span>Places we live in</span></div>
<div><h3><%= link_to 'OAuth 2.0', static_path('api/oauth') %></h3> <span>Access to your resource</span></div>
<div><h3><%= link_to 'Realtime', static_path('api/realtime') %></h3> <span>Get realtime notifications</span></div>
</article>
