<%= render 'menus/developers' %>

<div class="col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="devices-api">Developers API</h1>
    <h4>Building Apps for the Connected Home</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/developers/overview' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="devices-api">Devices API</h1>
    <h4>Virtual representations of your world</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/developers/devices' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="activations-api">Activations API</h1>
    <h4>Defining the device ownership</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/developers/activations' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="realtime-api">Reatime API</h1>
    <h4>Notifications from the real world</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/developers/realtime' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="oauth">OAuth 2.0</h1>
    <h4>Authorizing the access to your devices</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/developers/oauth' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="core-concepts">Core Concepts</h1>
    <h4>Shared Ideas between Lelylan</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/developers/core' %>
  </div>
</div>
