<%= render 'menus/getting_started' %>

<div class="col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="lelylan-overview">Lelylan Overview</h1>
    <h4>Understanding Lelylan basic concepts</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/overview' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <!-- invisible anchors to have a direct link for the desired hardware -->
    <h1 style="margin-bottom: 0" id="connect-your-first-light-using-arduino"></h1>
    <h1 style="margin-bottom: 0" id="connect-your-first-light-using-raspberry-pi"></h1>
    <h1 style="margin-bottom: 0" id="connect-your-first-light-using-arduino-yun"></h1>
    <h1 style="margin-bottom: 0" id="connect-your-first-light-using-electric-imp"></h1>
    <h1 style="margin-bottom: 0" id="connect-your-first-light-using-sparkcore"></h1>

    <h1 id="connect-your-first-light">Connect your First Light</h1>
    <ul class="nav nav-pills connect-your-first-light">
      <li class="active"><a href="#connect-your-first-light-using-arduino" class="btn-lelylan" data-hardware="arduino">Arduino</a></li>
      <li><a href="#connect-your-first-light-using-raspberry-pi" class="btn-lelylan" data-hardware="raspberry-pi">Raspberry Pi</a></li>
      <li><a href="#connect-your-first-light-using-arduino-yun" class="btn-lelylan" data-hardware="arduino-yun">Arduino Yun</a></li>
      <li><a href="#connect-your-first-light-using-electric-imp" class="btn-lelylan" data-hardware="electric-imp">Electric Imp</a></li>
      <li><a href="#connect-your-first-light-using-sparkcore" class="btn-lelylan" data-hardware="sparkcore">Sparkcore</a></li>
    </ul>
  </div>
  <div class="bs-docs-section">
    <div id="arduino">
      <%= render 'pages/getting_started/connect_your_first_light/arduino' %>
    </div>
    <div id="raspberry-pi">
      <%= render 'pages/getting_started/connect_your_first_light/raspberry_pi'%>
    </div>
    <div id="arduino-yun">
      <%= render 'pages/getting_started/connect_your_first_light/arduino_yun'%>
    </div>
    <div id="electric-imp">
      <%= render 'pages/getting_started/connect_your_first_light/electric_imp'%>
    </div>
    <div id="sparkcore">
      <%= render 'pages/getting_started/connect_your_first_light/sparkcore'%>
    </div>
  </div>
</div>


<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="see-existing-projects">See existing projects</h1>
    <h4>open source real projects to better learn Lelylan</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/projects' %>
  </div>
</div>
