<%= render 'menus/getting_started' %>

<div class="col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="lelylan-overview">Lelylan Overview</h1>
    <h4>Understanding Lelylan basic concepts</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/overview' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="connect-your-first-light-using-arduino">Connect your First Light Using Arduino</h1>
    <h4>MQTT and Lelylan</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/connect_your_first_light_using_arduino' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="connect-your-first-light-using-raspberry-pi">Connect your First Light Using Raspberry Pi</h1>
    <h4>MQTT and Lelylan</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/connect_your_first_light_using_raspberry_pi' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="create-your-first-js-app">Create Your First App</h1>
    <h4>Using Javascript, HTML5 and Websockets</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/create_your_first_js_app' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="see-existing-projects">See existing projects</h1>
    <h4>open source real projects to better learn Lelylan</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/projects' %>
  </div>
</div>

