<%= render 'menus/getting_started' %>

<div ng-app="project-app">

<div class="col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="overview-getting-started">Getting Started</h1>
    <h4>Introducing Lelylan</h4>
    <h4 class="light small">(Updated January 28, 2016)</h4>
    <a href="https://github.com/lelylan/dev/blob/master/app/views/pages/getting_started/_overview.html.erb" class="github-edit">
      <%= image_tag('github/Light-32px.png') %>
    </a>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/overview' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="tutorials">Tutorials</h1>
    <h4>How to Lelylan</h4>
    <a href="https://github.com/lelylan/dev/blob/master/app/views/pages/getting_started/_makers.html.erb" class="github-edit">
      <%= image_tag('github/Light-32px.png') %>
    </a>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/getting_started/tutorials' %>
  </div>
</div>

</div>
