<div class="presenttion-block">
  <div class="row">
    <div class="col-md-8" role="main">
      <h4>With The Makers API</h4>
      <h1>Connect and Control any Hardware</h1>
      <p>With Lelylan you focus on the hardware and on the design process. We do the rest by making it easy to connect your devices to the web and by giving you a complete set of Apps ready to use.</p>
      <a href="" class="btn-lelylan">Connect your first device &rarr;</a>
    </div>
    <div class="col-md-4" role="main">
      <div class="pull-right">
        <%= image_tag 'makers.png' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" role="main">
      <div class="pull-left">
        <%= image_tag 'developers.png' %>
      </div>
    </div>
    <div class="col-md-8" role="main">
      <h4>With The Developers API</h4>
      <h1>Build Apps for the Connected Home</h1>
      <p>Lelylan offers an open API for the connected home. Whether or not you want to build an app for web, mobile, voice, glasses, etc. Lelylan offers everything you need to get started in minutes.</p>
      <a href="" class="btn-lelylan">Create your first App &rarr;</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" role="main">
      <div>
        <%= image_tag 'makers-api.png' %>
        <p>
          Use hardware like
          <a href="http://www.arduino.cc/">Arduino</a>,
          <a href="http://electricimp.com/">Electric imp</a>,
          <a href="http://mbed.org">mbed</a>,
          <a href="http://www.raspberrypi.org/">Raspberry Pi</a> or
          <a href="http://www.openpicus.com/">Flyport</a>
          and connect it to the web using the Makers API and MQTT.
        </p>
        <a href="" class="btn-lelylan">Makers API &rarr;</a>
      </div>
    </div>

        <div class="col-md-4" role="main">
      <div>
        <%= image_tag 'developers-api.png' %>
        <p>
        An open API to control every physical device. With wrappers in
        <a href="https://github.com/lelylan/lelylan-ng">AngularJS</a>,
        <a href="https://github.com/lelylan/lelylan-rb">Ruby</a>,
        <a href="https://github.com/lelylan/lelylan-node">Node.js</a> and
        more you can get started in minutes.
        </p>
        <a href="" class="btn-lelylan">Developers API &rarr;</a>
      </div>
    </div>

    <div class="col-md-4" role="main">
      <div>
        <%= image_tag 'examples-api.png' %>
        <p>
        Learn by doing. Check out all articles and open-source projects
        related to Lelylan and contribute giving us your your feedback.
        </p>
        <a href="" class="btn-lelylan">Code Examples &rarr;</a>
      </div>
    </div>
  </div>
</div>
