<h2><%= Settings.titles['start'] %></h2>

<article>
<div><h3><%= link_to 'Introduction', static_path('start/introduction') %></h3> <span>Introduction to Lelylan</span></div>
<div><h3><%= link_to 'Build your first app', static_path('start/first-app') %></h3> <span>A mobile app in 15 minutes</span></div>
<div><h3><%= link_to 'Connect your first device', static_path('start/first-physical') %></h3> <span>Control the physical world</span></div>
<div><h3><%= link_to 'Tutorials & articles', static_path('start/tutorials') %></h3> <span>Tutorials and articles</span></div>
<div><h3><%= link_to 'Showcases', static_path('start/showcases') %></h3> <span>Connected house apps</span></div>
</article>
