<%= render 'menus/types' %>

<div class="col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="types-api">Types API</h1>
    <h4>Structuring the Connected Home</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/types/types' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="properties-api">Properties API</h1>
    <h4>What vary during time</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/types/properties' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="functions-api">Functions API</h1>
    <h4>What a Device can do</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/types/functions' %>
  </div>
</div>

<div class="col-md-offset-3 col-md-9 bs-docs" role="main">
  <div class="bs-title">
    <h1 id="statuses-api">Status API</h1>
    <h4>What the device is in a specific moment of its life</h4>
  </div>
  <div class="bs-docs-section">
    <%= render 'pages/types/statuses' %>
  </div>
</div>

