<article>

<h1 class="call"><a name="first-app"><%= title %></a></h1>

<p>
In this section you will find a collection of open source projects you can take inspiration
from to start building a better connected home.
</p>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/device-component-ng/">Device Component</a></h2>

<p>
AngularJS directive (Web Components) for <a href="/api/devices">Lelylan Devices API</a>
to easily create third party apps for the connected home. Control and monitor your device
simply adding the new <code>&lt;device&gt;</code> tag.
<a href="https://github.com/lelylan/device-component-ng/">Fork on Github</a>.
</p>

<a href="https://github.com/lelylan/device-component-ng/">
<%= image_tag('device-component-ng.png', class: 'img-polaroid') %>
</a>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/type-component-ng/">Type Component</a></h2>

<p>
AngularJS directive (Web Components) for <a href="/api/types">Lelylan Types API</a> to easily
create and share device type definitions using the <code>&lt;lelylan-type&gt;</code> tag.
<a href="https://github.com/lelylan/type-component-ng/">Fork on Github</a>.
</p>

<a href="https://github.com/lelylan/type-component-ng/">
<%= image_tag('type-component-ng.png', class: 'img-polaroid') %>
</a>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/devices-dashboard-ng/">Lelylan Dashboard</a></h2>

<p>
Dashboard to control and monitor all of your devices.
<a href="https://github.com/lelylan/devices-dashboard-ng/">Fork on Github</a> or <a href="http://d.lelylan.com">try it out</a>.
</p>

<a href="http://d.lelylan.com">
<%= image_tag('devices-dashboard-ng.png', class: 'img-polaroid') %>
</a>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/types-dashboard-ng/">Lelylan Types</a></h2>

<p>
Dashboard to define in a collaborative way the devices structure.
<a href="https://github.com/lelylan/types-dashboard-ng/">Fork on Github</a> or <a href="http://t.lelylan.com">try it out</a>.
</p>

<a href="http://t.lelylan.com">
<%= image_tag('types-dashboard-ng.png', class: 'img-polaroid') %>
</a>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/demo-dashboard-ng/">Lelylan Demo</a></h2>

<p>
A demo simulating the interaction with some devices of a connected home.
<a href="https://github.com/lelylan/demo-dashboard-ng/">Fork on Github</a> or <a href="http://try.lelylan.com">try it out</a>.
</p>

<a href="http://try.lelylan.com">
<%= image_tag('demo-dashboard-ng.png', class: 'img-polaroid') %>
</a>

</article>
