<article>

<h1 class="call"><a name="first-app"><%= title %></a></h1>

<p>
Checkout what people have been doing with Lelylan and take some inspiration.
If you think we are missing a good application or you want to help us creating a new one
<a href="http://twitter.com/#!/lelylan">tweet</a> or
<a href="mailto:touch@lelylan.com">mail</a> us.
We are continuosly seeking for new projects and collaborations.
</p>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/device-component-ng/">Device Component</a></h2>

<p>
AngularJS directive (Web Components) for <a href="/api/devices">Lelylan Devices API</a>
to easily create third party apps for the connected home. Control and monitor any device
using the <code>&lt;device&gt;</code> tag.
<a href="https://github.com/lelylan/device-component-ng/">Fork on Github</a>.
</p>

<a href="https://github.com/lelylan/device-component-ng/">
<%= image_tag('device-component-ng.png', class: 'img-polaroid') %>
</a>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/type-component-ng/">Type Component</a></h2>

<p>
AngularJS directive (Web Components) for <a href="/api/types">Lelylan Types API</a> to easily
create and share device type definitions using the <code>&lt;lelylan-type&gt;</code> tag.
<a href="https://github.com/lelylan/type-component-ng/">Fork on Github</a>.
</p>

<a href="https://github.com/lelylan/type-component-ng/">
<%= image_tag('type-component-ng.png', class: 'img-polaroid') %>
</a>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/devices-dashboard-ng/">Lelylan Dashboard</a></h2>

<p>
Dashboard to access all your devices.
<a href="https://github.com/lelylan/devices-dashboard-ng/">Fork on Github</a> or <a href="http://d.lelylan.com">try it out</a>.
</p>

<a href="http://d.lelylan.com">
<%= image_tag('devices-dashboard-ng.png', class: 'img-polaroid') %>
</a>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/types-dashboard-ng/">Lelylan Types</a></h2>

<p>
Collaborative solution to create and discuss the device structure definition.
<a href="https://github.com/lelylan/types-dashboard-ng/">Fork on Github</a> or <a href="http://t.lelylan.com">try it out</a>.
</p>

<a href="http://t.lelylan.com">
<%= image_tag('types-dashboard-ng.png', class: 'img-polaroid') %>
</a>

</article>

<article>

<h2 class="call"><a href="https://github.com/lelylan/demo-dashboard-ng/">Lelylan Demo</a></h2>

<p>
Demo simulating the interaction with different type of devices.
<a href="https://github.com/lelylan/demo-dashboard-ng/">Fork on Github</a> or <a href="http://try.lelylan.com">try it out</a>.
</p>

<a href="http://try.lelylan.com">
<%= image_tag('demo-dashboard-ng.png', class: 'img-polaroid') %>
</a>

</article>

<br/>
<br/>

<article>

<h1 class="call"><a name="give-me-some-code">What's next?</a></h1>

<ul>
  <li><a href="/community/clients">Create new solutions using your favorite language</a></li>
  <li><a href="/api/">Learn more about Lelylan REST API</a></li>
</ul>

</article>

