<!DOCTYPE html>
<html>
  <head>
    <title>Lelylan Dev Center | <%= title %></title>

    <%= stylesheet_link_tag 'bootstrap.min', 'default', 'prettify', 'getting-started', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= render 'shared/services/analytics' %>
  </head>

  <body class="docs <%= body_style %>">
    <header id="header">
    <div class="left"><h1><a href="/">Lelylan Dev Center</a></h1></div>
    <nav>
    <ul>
      <%= render "devise/shared/links" %>
      <% if code_page? -%>
      <li>
      <select id="language">
        <option value="curl">See examples in Curl</option>
        <option value="node">See examples in Node.js</option>
        <option value="angular">See examples in AngularJS</option>
        <option value="ruby">See examples in Ruby</option>
      </select>
      </li>
    <% end -%>
    </ul>
    </nav>
    <!--<h2><a href="/">Documentation</a><%# breadcrumbs_html %></h2>-->
    </header>

    <article id="article">

    <nav id="nav">
    <%= render 'shared/menu' %>
    </nav>

    <section id="section">
    <%= yield %>
    <%= render 'shared/services/disqus' %>
    </section>

    </article>

  </body>
</html>
