<!DOCTYPE html>
<html>
  <head>
    <title>Lelylan Dev Center | <%= title %></title>

    <%= stylesheet_link_tag    'basic', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="pages pages-index">

    <section id="section">

    <header id="header">
    <div class="left">
      <h1><a href="http://lelylan.com">Lelylan</a></h1>
    </div>

    <nav class="right">
    <ul>
      <%= render "devise/shared/links" %>
      <%#<li><a href="/pages/examples">Examples</a></li>%>
      <%#<li><a href="/pages/screencasts">Screencasts</a></li>%>
      <%#<li><a href="/docs/index">Documentation</a></li>%>
      <%#<li><a href="/pages/community">Community</a></li>%>
      <%#<li><a href="/mobile/index">Mobile</a></li>%>
    </ul>
    </nav>

    </header>

    <article>
    <%= yield %> 
    </article>

    </section>

    <footer id="footer">
    <ul>
      <li><a href="http://people.lelylan.com/subscriptions/new">Not a member? Ask for an invitation</a></li>
      <li><a href="http://lelylan.com/blog/">Latest from the Blog</a></li>
      <li><a href="http://lelylan.com/about/">About Lelylan</a></li>
    </ul>
    </footer>
  </body>
</html>
